@import "../../../app/variables";

.dashboardSection {
    padding: 32px 20px;
}

.container {
    width: 100%;
    display: flex;
    column-gap: 24px;
}

.cardsList {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}