@import "../../../app/variables";

.svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.btn {
    border: none;
    background: none;
    width: 32px;
    height: 32px;
    & svg {
        width: 100%;
        height: 100%;
    }
    @media screen and (min-width: $tablet) {
        width: 48px;
        height: 48px;
    }
    @media screen and (min-width: $desktop) {
        display: none;
    }
}
