@import '../../../app/variables';

.burgerMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  background-color: $background-900;
  transform: translate(-100vw);
  @media screen and (min-width: $desktop) {
    width: max-content;
    flex-direction: row;
    position: static;
    transform: translate(0);
  }
}

.burgerMenuVisible {
  transform: translate(-7vw);
  @media screen and (min-width: $tablet) {
    transform: translate(-3vw);
  }
  @media screen and (min-width: $desktop) {
    transform: translate(0);
  }
}

.navlinks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 20px 60px 40px;
  font-size: 16px;
  background-color: $background-900;

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    column-gap: 24px;
    padding: 0px;
  }
}

.iconContainer {
  display: flex;
  align-items: center;
  column-gap: 56px;
  z-index: 5;
}

.svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  @media screen and (min-width: $tablet) {
    width: 48px;
    height: 48px;
  }
}
