@import "../../app/variables";

.section {
    @include pageTopPadding;
}

.title {
    @include sectionTitle;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop) {
        text-align: right;
        margin-right: 25px;
    }
}

.wrap {
    width: 100%;
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: center;
    }
}
