@import "../../../app/variables";

.navigationContainer {

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        // font-family: var(--montserrat);
        font-weight: 400;
        font-size: 20px;
        line-height: 1.2;
    }

    @media screen and (min-width: $laptop) {
        font-size: 24px;
    }
}

.navigationContainer .pageLink {
    position: relative;
    display: inline-block;
    width: fit-content;

    &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        // background-color: $accentColor;
        bottom: -5px;
        left: 0;
    }

    &:hover,
    &:focus {
        &::after {
            animation: animate 0.5s linear forwards;
        }
    }
}

@keyframes animate {
    to {
        width: 100%;
    }
}

.navigationContainer .active {
    &::after {
        width: 100%;
    }
}