@import "../../app/variables";

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -32px;
    width: 264px;
    background-color: $secondary50;
    transform: translate(235px);
    transition: "all 0.7s ease-in-out";
}

.activeMenu {
    transform: translate(-32px);
    transition: "all 0.7s ease-in-out";

    // @media screen and (min-width: $tablet) {
    //     transform: translate(-3vw);
    // }
    // @media screen and (min-width: $tablet) {
    //     transform: translate(0);
    // }
}

.btnBack {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -36px;
    border: none;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 36px;
    height: 88px;
}

.cardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

.cardTitle {
    margin-top: 12px;
    color: $blackColor;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}

.icon {
    width: 24px;
    height: 24px;
    fill: transparent;
    stroke: #000;
}

.iconCart {
    margin-top: 4px;
    width: 32px;
    height: 32px;
    stroke: $blackColor;
}

// .iconCross {
//     width: 24px;
//     height: 24px;
//     stroke: #000;
// }

.totalSum {
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: $blackColor;
}

.cardFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderBtn {
    width: 248px;
    height: 42px;
    border-radius: 8px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    border: none;
    outline: none;
    box-shadow: 2px 2px 4px 0px rgba(75, 75, 78, 0.5);
    background-color: $primary900;
    color: $gray900;
    cursor: pointer;
    margin-bottom: 20px;
}

.emptyBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

.svgEmptyBasket {
    width: 48px;
    height: 48px;
}

// .listBasket{

// }

.itemBasket {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    border-bottom: 1px solid black;
    border-bottom-style: dashed;
    background-color: $gray0;
}

.innerWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageBasketBox {
    position: relative;
    width: 72px;
    height: 72px;

    & img {
        object-fit: cover;
        border-radius: 8px;
    }

    @media screen and (min-width: $tablet) {
        width: 80px;
        height: 80px;
    }
    @media screen and (min-width: $desktop) {
        width: 88px;
        height: 88px;
    }
}

.nameItem {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    color: $blackColor;
    margin-bottom: 16px;
}

.priceItem {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 4px;
    color: $blackColor;
}

.btnDeleteItem {
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

//------------  styles for counter  -------------------

.counterBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 104px;
    height: 44px;
    background-color: $primary600;
    border-radius: 8px;
}

.btnCount {
    background-color: transparent;
    border: none;
}

.numberCount {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    color: $gray900;
}
