@import '../../app/variables';

.header {
  position: fixed;
  padding: 12px 20px;
  height: 56px;
  background-color: $background-900;
  z-index: 100;
  @media screen and (min-width: $tablet) {
    padding: 6px 20px;
    height: 60px;
  }

  @media screen and (min-width: $desktop) {
    padding: 12px 60px;
    height: 80px;
  }
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navLinks {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    flex-direction: row;
    column-gap: 24px;
  }
}

.iconContainer {
  display: flex;
  align-items: center;
  column-gap: 19px;
  @media screen and (min-width: $tablet) {
    column-gap: 32px;
  }
  @media screen and (min-width: $desktop) {
    column-gap: 56px;
  }
}

.svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  @media screen and (min-width: $tablet) {
    width: 32px;
    height: 32px;
  }
  @media screen and (min-width: $desktop) {
    width: 48px;
    height: 48px;
  }
}

.lang {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
  }
}
