@import '../../../app/variables';

.btnContainer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;

  @media screen and (min-width: $tablet) {
    width: 234px;
  }

  @media screen and (min-width: $desktop) {
    width: 259px;
  }
}

.btnCardContainer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.btnContainerIsAbsent {
  & .btn {
    background-color: $gray400;
    color: $gray600;
  }
  & .btnBlock {
    background-color: $gray600;
    color: $gray0;
  }
  & .btnBlock {
    & svg {
      stroke: $gray0;
    }
  }
}

.btnUniversal {
  text-align: start;
  padding: 10px 20px;
}

.btn {
  width: 100%;
  padding: 10px 24px;
  background-color: $primary900;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  color: $gray900;

  @media screen and (min-width: $tablet) {
    text-align: start;
    padding: 10px 20px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}
.btnBlockUniversal {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: $secondary50;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  color: $gray900;
  column-gap: 12px;
  padding: 10px 24px;
  & svg {
    width: 14px;
    height: 14px;
    stroke: $blackColor;
    fill: none;
  }
}
.btnBlockCard {
  display: none;
}

.btnBlock {
  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 8px;
    background-color: $secondary50;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    color: $gray900;
    column-gap: 12px;
    padding: 10px 24px;
    & svg {
      width: 24px;
      height: 24px;
      stroke: $blackColor;
      fill: none;
    }
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}

.btnArrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
