@import "../../app/variables";

.section {
    @include pageTopPadding;
}

.title {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
        font-size: 20px;
        font-weight: 500;
    }
    @media screen and (min-width: $desktop) {
        margin-bottom: 32px;
        font-weight: 300;
    }
}
