@import "../../app/variables";

.footer {
  padding: 16px $sidePaddingMob;
  outline: 1px dashed white;
}
.container {
  outline: 1px dashed white;
  //   height: 20px;
  //   background-color: aqua;
}
