@import '../../../app/variables';

.section {
  // @include pageTopPadding;
}

.productsList {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    row-gap: 20px;
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
