@import "@/app/variables";

.form {
    width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto 0 auto;

    // @media screen and (min-width: $tablet) {
    //     width: 728px;
    //     row-gap: 0;
    // }

    // @media screen and (min-width: $desktop) {
    //     width: 648px;
    // }
}

.formTitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 16px;
    // @media screen and (min-width: $tablet) {
    //     font-size: 20px;
    //     font-weight: 500;
    // }
    // @media screen and (min-width: $desktop) {
    //     margin-bottom: 32px;
    //     font-weight: 300;
    // }
}

.wrapper {
    width: 100%;

    // @media screen and (min-width: $tablet) {
    //     display: flex;
    //     justify-content: space-between;
    // }
}

.inputWrap {
    height: 50px;
    width: 100%;
    position: relative;
    margin-bottom: 12px;
    // @media screen and (min-width: $desktop) {
    //     height: 56px;
    // }
}

.inputWrap:last-child {
    margin-bottom: 0;
}

.radioWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
    height: 76px;
    width: 100%;
    margin: 16px 0 16px 0;
}

.input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding-left: 16px;
    border: none;
    outline: none;
    background-color: $secondary50;
    box-shadow: 2px 2px 4px 0px rgba(75, 75, 78, 0.5);
    // @media screen and (min-width: $tablet) {
    //     padding-left: 24px;
    // }
}

.errorInput {
    border: 1px solid $alertsError;
}

.inputSuccess {
    border: 1px solid $alertsSuccess;
}

.input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: $gray800;
    // @media screen and (min-width: $desktop) {
    //     font-size: 20px;
    //     font-weight: 300;
    // }
}

//--------------------   styles for radio buttons   ----------------------

.labelBox {
    margin-left: -12px;
}

.radioInput {
    opacity: 0;
}

.radioInput + .radioLabel {
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    display: inline-block;

    font-size: 16px;
    line-height: 2;
    font-weight: 300;
}

.radioInput + .radioLabel::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    // border: 3px solid $secondary50;
    background-color: $secondary50;
}

.radioInput:checked + .radioLabel::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: $gray900;
    transform: scale(1);
    opacity: 1;
    transition: all 0.3s ease;
}

.radioInput:not(:checked) + .radioLabel::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    transform: scale(0);
    opacity: 0;
}

//-----------------   styles for icons   --------------------------

.iconError {
    position: absolute;
    bottom: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    fill: $alertsError;

    //   @media screen and (min-width: $desktop) {
    //     left: -22px;
    //     bottom: -22px;
    //   }
}

.svgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 12px auto;
    width: 167px;
    height: 64px;
    border-radius: 8px;
    background-color: $secondary50;
    box-shadow: 2px 2px 4px 0px rgba(75, 75, 78, 0.5);
}

.iconPost {
    width: 134px;
    height: 48px;
}

//------------------   styles for submit buttons   ------------------------

.submitButton {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    outline: none;
    box-shadow: 2px 2px 4px 0px rgba(75, 75, 78, 0.5);
    background-color: $gray700;
    color: $gray400;
    cursor: pointer;
    margin-bottom: 12px;

    // @media screen and (min-width: $tablet) {
    //     width: 480px;
    //     margin-top: 20px;
    // }
    // @media screen and (min-width: $desktop) {
    //     width: 259px;
    //     height: 56px;
    //     font-size: 20px;
    //     font-weight: 300;
    //     margin-top: 32px;
    // }
}

.activeBtn {
    background-color: $primary900;
    color: $gray900;
}

.redirectButton {
    background-color: transparent;
    color: $gray0;
    border: 2px solid $primary900;
    text-align: center;
    line-height: 52px;
    // text-justify:c
}

//--------------------   styles for errors   -----------------------

.error {
    position: absolute;
    bottom: 2px;
    right: 10px;
    color: $alertsError;

    // font-family: var(--montserrat);
    font-size: 12px;
    font-weight: 300;
}

.errorRadio {
    bottom: 28px;
}
